* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Valley Sans", sans-serif;
}

header {
    display: flex;
    background-color: #88c4a9;
    padding: 20px 20px;
    justify-content: space-between;
    position: relative;
}

header,
main {
    margin: 0 auto;
}

header p {
    font-size: 30px;
    padding-left: 20px;
    font-weight: 600;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding-right: 20px;
    gap: 30px;
    position: absolute;
    text-align: center;
    top: 10px;
    right: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #88c4a9;
}

.navigation.show {
    padding: 20px;
    visibility: visible;
}

#menu {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    color: #000;
    z-index: 1001;
    position: relative;
}

#menu::before {
    content: '☰';
}

#menu.show::before {
    content: '🔙';
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navigation a:hover {
    background-color: aliceblue;
    padding: 10px;
}

main {
    display: grid;
    grid-column: 1;
    justify-content: center;
}

.page-title {
    grid-column: 1 / -1;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

figure img {
    width: 250px;
    height: auto;
}

figcaption {
    text-align: center;
    margin-bottom: 15px;
}

footer {
    background-color: #88c4a9;
    margin-top: 20px;
    padding: 13px;
    text-align: center;
    line-height: 1.4;
    font-size: 15px;
}